include LICENSE
include README.md
include sender.py
include sender_psutil.py
recursive-include djangovisor/static *
recursive-include djangovisor/templates *
recursive-include djangovisor/templatetags *
