{% load djangovisor_tags %}
<div id="process_table" class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td>name</td>
          <td>status</td> 
          <td>uptime</td>
          <td>children</td>
          <td>CPU (user)</td>
          <td>memory total</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ process.name }}</td>
          <td class="{{ process.status|status_class }}">{{ process.status }}</td>
          <td>{{ process.uptime|time_str }}</td>
          <td>{% if process.children %}{{ process.children }}{% endif %}</td>
          <td>{{ process.cpu_user_percent_last|percent }}</td>
          <td>{{ process.memory_percent_total_last|percent }} {% if process.memory_megabyte_total_last %}[{{ process.memory_megabyte_total_last|in_MB}}] {% endif %}</td>
        </tr>
      </tbody>
    </table>
</div>

